**/__pycache__
backtest/data/
backtest/results.txt
btest.py
debug/
old/
venv/
.env*
.~lock*
.pre-commit-config.yaml
1.py
2.py
3.py
4.py
5.py
check.py
description.md
log.md
logfile.log
error.log
history.ini
tmatic.db
